*{
    margin: 0;
}

.your-profile-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 103px 22px;
    
    width: 415px;
    height: 102px;

    background: #3600CC;
    border-radius: 0px 0px 50px 50px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 10px;
    gap: 20px;
    width: 100%;
    height: 100vh;
    isolation: isolate;
    
    position: relative;    
}

.profile-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 90%;
    /* height: 200%; */
    
    background: #8F66FF;
    border-radius: 30px;    
}

.profile-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    
    width: 100%;
    height: 500px;
    
    background: #6933FF;
    border-radius: 30px;    
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;

    width: 100%;
    height: 200px;
    
    background: url(images/Banner.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px 30px 0px 0px;

    align-self: stretch;
}

.div-with-nickname-div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    
    width: 100%;
    height: 200px;

    /* align-self: stretch; */
}

.nickname-and-adress-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: fit-content;
}

.space-with-live{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    align-self: stretch;
    flex-grow: 1;    
}

.go-live{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 144px;
    height: 63px;
    
    background: #B11A1A;
    border-radius: 30px;    
}

.div-with-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    
    width: 100%;
    /* height: 149px; */

    align-self: stretch;
    z-index: 2; 
}

/*  */
.description{
    /* width: 575px; */
    height: fit-content;
    text-align: start;
}
/*  */

.div-with-all-profile-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* gap: 10px; */
    
    width: 95%;
    height:fit-content;

    align-self: stretch;
}

.div-with-2-profile-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: fit-content;
    height: 100%;        
}

.add-post{
    width: 155px;
    height: 63px;
}

.icon{
    box-sizing: border-box;
    position: relative;
    width: 152px;
    height: 152px;
    /* left: 0;
    top: 0; */
    
    /* background: url(images/umaru.jpg);
    background-size: 152px 152px; */
    border: 4px solid #4400FF;
    border-radius: 76px;

    z-index: 3;    
}

.profile-bottom-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 10px;
    
    width: 100%;
    height: fit-content;

    align-self: stretch;
}

.left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    padding: 20px 10px;
    gap: 21px;
    
    width: 25%;
    height:fit-content;

    background: #1B0066;
    border-radius: 30px;    
}

.category-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 80%;
    height: 340px;    
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 90%;
    background: #B499FF;
    border-radius: 30px;    
}

.list-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 100%;
    height: 100%;
    overflow-x: scroll ;

    background: #3600CC;
    border-radius: 30px;   
}

.list-div::-webkit-scrollbar{
    display: none;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    
    width: fit-content;

    background: #3600CC;
    border-radius: 30px;    
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 14px;
    gap: 10px;
    
    width: 131px;
    height: 199px;
    
    background: #6933FF;
    border-radius: 30px;   
}

.inner-friend-block{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 103px;
    height: 199px;  
}

.icon-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 83px;
    height: 83px;
    
    background: white;
    background-image: url("images/account.png");
    border-radius: 30px;    
}

/* .icon-post{
    background: url("images/account.png");

} */

.inner-fav-game-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    gap: 10px;
    
    width: 118px;
    /* height: 200px;      */
}

.game-icon-div{
    width: 98px;
    height: 98px;
    
    background: url(images/csgo.png);
    background-size: 98px 98px;
    border-radius: 30px;    
}

.profile-posts-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
    
    width: 70%;
    
    background: #3600CC;
    border-radius: 30px;   
}

.post-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 90%;
    height: 500px;

    background: #6933FF;
    border-radius: 30px;
}

.post-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 90%;
    height: 323px;

    background: #1B0066;
    border-radius: 30px;   
}

.idol{
    background: url("images/idol.png");
    background-position: center;
}

.csgo{
    background: url(images/csgo_bg.png);
    background-position: center;
}

.post-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 26px;
    gap: 10px;
    
    width: 90%;
    /* height: 140px; */

    background: #B499FF;
    border-radius: 30px; 
}

.post-main-text{
    width: 100%;
    /* height: 28px;     */
}

.post-hashtag-div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    
    width: 100%;
    /* height: 28px; */
    align-self: stretch;
}

.post-hashtag-text{
    max-width: 412px;  
}

.post-div-with-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    isolation: isolate;
    
    width: 100%;
    /* height: 44px; */

    align-self: stretch;  
}

.date-text{
    color: #434149;
}

.remove{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 75px;
    height: 21px;

    background: #4400FF;
    border-radius: 30px; 
    
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;    
}

.buttons-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 90%;
}

.form-but{
    width: 100%;
}

.liked{
    width: 100%;
}

.saved{
    width: 100%;
}

.address{
    color: #FFFFFF;
}

@media screen and (max-width:430px){
    .profile-div{
        height: fit-content;
        width: 95%;
        padding: 0;
    }

    .banner{
        height: 100px;
    }

    .go-live{
        display: none;
    }

    .nickname{
        font-size: 20px;
        line-height: 28px; 
    }

    .address{
        font-size: 12px;
        line-height: 17px;  
    }

    .space-with-live{
        width: 50%;
    }

    .change{
        width: fit-content;
        height: fit-content;
        padding: 20px;
        font-size: 14px;
        line-height: 17px;
    }

    .description{
        font-size: 12px;
        line-height: 17px;
    }

    .div-with-all-profile-buttons{
        width: 100%;
        gap: 5px;
        justify-content: center;
    }

    .div-with-2-profile-buttons{
        width: 60%;
    }
    .div-with-2-profile-buttons button{
        width: fit-content;
        height: fit-content;
        font-size: 12px;
        line-height: 17px;
    }

    .add-form{
        width: 30%;    
    }

    .add-post{
        width: fit-content;
        height: fit-content;
        font-size: 12px;
        line-height: 17px;            
    }

    .profile-bottom-div{
        flex-direction: column;
    }

    .left-part{
        width: 100%;
        padding: 0;
    }

    .profile-posts-div{
        width: 100%;
        padding: 0;
    }
}