*{
    margin: 0px;
    padding: 0px;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.register {
    color: #DACCFF;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 180px;
    margin-top: 50px;

    width: 218px;
    height: 71px;
    background: #3600CC;
    border-radius: 30px;

}
.register-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px;
    border-radius: 30px;
    background: #8F66FF;

    width: 608px;
    height: 571px;
}

.inputs-reg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 588px;
    height: 71px;

}    
.submit-reg{
    color: #DACCFF;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    padding-bottom: 50px;

    gap: 15px;
    
    width: 457px;
    height: 63px;
}  
.have-acc{
    color: #DACCFF;
    font-size: 24px;
    background: none;
    border: none;
    text-decoration: none;
}